label {
    font-size: 12pt;
}

.verser-number {
    color: var(--blue-3);
}

.word-wrapper:hover {
    background-color: var(--headerbar-bg-color);
    border-radius: 8pt;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.verse-note {
    background-color: var(--headerbar-bg-color);
    padding-right: 5pt;
    padding-left: 5pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    border-radius: 8pt;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}